{% extends "accounts/_notab.html" %}

{% block title %}Authorization request{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock head %}


{% block tab_home_active %}active_tab{% endblock %}

{% block section_content %}

    <h1>Authorization request</h1>

    <div id="content">

        <p>
            The application <b>{{ token.consumer.name }}</b> wants to acces Freesound on your behalf. Click confirm to grant them access.
        </p>

            <form action="{% url piston.authentication.oauth_user_auth %}" method="POST">
                {{ form.oauth_token }}
                {{ form.oauth_callback }}
                {{ form.authorize_access }}
                <button type="submit">Confirm</button>
            </form>
    </div><!-- #content -->
    <br class="clear"/><!-- Need a clearing element for some reason here.. -->
{% endblock %}

