{% extends "accounts/_notab.html" %}

{% block title %}{% if not error %}Permission granted{% else %}Error while granting permission{% endif %}{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock head %}


{% block tab_home_active %}active_tab{% endblock %}

{% block section_content %}

    <h1>{% if not error %}Permission granted{% else %}Error while granting permission{% endif %}</h1>

    <div>
        {% if not error %}
            <p>
                Permission to application <b>{{ token.consumer.name }}</b> has been granted.
                <br>
                Now, the application that requested your authorization should ask you to introduce a pin code or passowd. That is the code you must introduce:
            </p>
            <p style="text-align: center;font-size: 20px">
                <b>{{ token.key }}</b>
            </p>
            <p>
                You can manage the permissions you give to third party applications through <a href="{% url access-tokens %}">this page</a>.
            </p>
        {% else %}
            <p>
                Some error ocurred while granting permission to application <b>{{ token.consumer.name }}</b>.
            </p>
            <p>
                {{ error }}
            </p>
        {% endif %}
        </p>
    </div><!-- #content -->
    <br class="clear"/><!-- Need a clearing element for some reason here.. -->
{% endblock %}

